:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.app-layout {
  height: 100vh; /* Set height to full viewport height */
}
.menu-sidebar {
  height: 100%;
 // background: rgba(1, 0, 10, 0);

  /* Make the sidebar take up full height */
}
.inner-content {
  padding: 24px; /* Add padding to the inner content */
  background-color: #fff; /* Optional: Set background color for inner content */
  min-height: calc(100vh - 64px - 48px); /* Adjust the height for header and breadcrumb */
  overflow: auto; /* Add overflow for scrolling if content overflows */
}
//hey
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.sidebar{
  background: rgba(255, 255, 255, 0.2);

}
nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
