
 <nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
  nzCollapsible
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null">
    <div class="logo">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline"

      >
      <!-- < nz-menu-item>
        <span nz-icon
        nzType="bank"></span>
        <!-- <span>Dashboard</span> -->

      <li nz-submenu
      nzTitle="Company"
      nzIcon="team">
        <ul>
          <li nz-menu-item
          routerLinkActive="ant-menu-item-selected"
          routerLink="position/detail">Organizational structure</li>
          <ul>

  </ul>
          <!-- <li nz-menu-item>Team 2</li> -->
        </ul>
      </li>



    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <nz-content>

      <nz-breadcrumb>
        <!-- <nz-breadcrumb-item>Company</nz-breadcrumb-item> -->
        <!-- <nz-breadcrumb-item>structure</nz-breadcrumb-item> -->
        <nz-breadcrumb-item>{{ breadcrumbText }}</nz-breadcrumb-item>

      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

 <!-- <nz-layout>
  <nz-sider
  nzCollapsible [(nzCollapsed)]="isCollapsed"
  [nzCollapsedWidth]="collapseWidth"
  [nzBreakpoint]="'lg'"
  [nzTrigger]="triggerTemplate">
    <!-- Sider content
    <div class="logo">

    </div>
    <ul nz-menu
    [nzMode]="'inline'" nzTheme="dark"
     [nzInlineCollapsed]="isCollapsed">
      <!-- Menu items
      <!-- Example of menu item with submenu
      <li nz-submenu
      [(nzOpen)]="openMap.sub1"
      (nzOpenChange)="openHandler('sub1')">
        <span title>My Data</span>
        <ul>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/position/create">Overview</li>
          <li nz-menu-item>Received</li>
        </ul>
      </li>
      <li nz-submenu [(nzOpen)]="openMap.sub2" (nzOpenChange)="openHandler('sub2')">
        <span title>
          <i class="anticon anticon-upload"></i>
          <span>Nav2</span>
        </span>
        <ul>
                  <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/position/create"><span><i class="anticon anticon-upload"></i><span class="nav-text">nav 2</span></span>
      </li>
        </ul>
        <li nz-menu-item><span><i class="anticon anticon-upload"></i><span class="nav-text">nav 3</span></span></li>
<li nz-menu-item><span><i class="anticon anticon-upload"></i><span class="nav-text">nav 4</span></span></li>

      <!-- Other menu items
    </ul>
  </nz-sider>

  <nz-layout style="min-height: 100vh;">
    <nz-header style="background: #fff; padding: 0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin: 24px 16px 0;">
      <div style="padding: 24px; background: #fff; min-height: 360px;">
        <!-- Your router outlet content
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- nz-footer (if needed)
  </nz-layout>
</nz-layout> -->



