.content{
  border-radius: 8px;
  background-color: #F9F9F9;


}


.tree-view-container {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
  overflow-x: auto;
  margin-top: 20px; /* Adjust the value as per your requirements */

}

