
<nz-tree [nzData]="nodes" nzShowLine (nzClick)="nzEvent($event)"></nz-tree>
<!-- <nz-tree [nzData]="nodes" [nzShowLine]="true" (nzClick)="handleNodeClick($event)"></nz-tree> -->
<!-- Example HTML template with Tailwind CSS classes -->
<div class="p-6">
<nz-tree [nzData]="nodes" [nzShowLine]="true" class="space-y-2">
  <ng-template #nzTreeTemplate let-node>
    <span class="border rounded px-2 py-1 bg-gray-200 hover:bg-gray-300 cursor-pointer">
      {{ node.title }}
    </span>
  </ng-template>
</nz-tree>
</div>
