



<div nz-row>
  <div nz-col
   [nzSpan]="18" [nzPush]="6" >


  <app-position-detail></app-position-detail>

  </div>


  <div class="content"
  nz-col [nzSpan]="6"
   [nzPull]="18" >
   <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine>
      <!-- <nz-tree-node-toggle nzTreeNodeNoopToggle *ngIf="showLeafIcon">
        <span nz-icon nzType="file" nzTheme="outline"></span>
      </nz-tree-node-toggle> -->
      <nz-tree-node-option (click)="onNodeClick(node)">
        {{ node.name }}
      </nz-tree-node-option>
    </nz-tree-node>

    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine>
      <nz-tree-node-toggle>
        <span
          nz-icon
          [nzType]="treeControl.isExpanded(node) ? 'minus-square' : 'plus-square'"
          nzTheme="outline"
        ></span>
      </nz-tree-node-toggle>
      <nz-tree-node-option (click)="onNodeClick(node)">
        {{ node.name }}
      </nz-tree-node-option>
    </nz-tree-node>
  </nz-tree-view>

  </div>
</div>


<!-- <nz-tree [nzData]="nodes" [nzShowLine]="true" (nzClick)="handleNodeClick($event)"></nz-tree> -->
<!-- Example HTML template with Tailwind CSS classes -->

<!-- <div nz-row>
  <div nz-col nzFlex="2">2 / 5</div>
  <div nz-col nzFlex="3">3 / 5</div>
</div> -->
  <!-- <nz-tree
    [nzData]="nodes" nzShowLine
    (nzClick)="nzEvent($event)">
  </nz-tree> -->
